body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

li{list-style: none;}
::selection{background: transparent;}

html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
	letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Jura', sans-serif;
	text-transform:uppercase;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}


.fl {
	float: left
}

.fr {
	float: right
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
}